@font-face {
  font-family: 'Minh Ngyuen'; /* 自定义字体名称 */
  src: url('/fonts/Minh Nguyen Regular.woff') format('woff'),
       url('/fonts/Minh Nguyen Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Minh Ngyuen', serif;
}

/* 設定使用 special-font 類別的文字字體 */
@font-face {
    font-family: 'HanaMinB'; /* 您在 CSS 中引用的字體名稱 */
    src: url('/fonts/HanaMinB.woff') format('woff'); /* ***這裡的檔案副檔名和格式都要改為 .woff 和 'woff' *** */
    font-weight: normal; /* 字體的粗細 */
    font-style: normal;  /* 字體的樣式 */
    font-display: swap;  /* 建議添加，有助於改善字體載入體驗 */
}
.special-font {
    font-family: "HanaMinB", serif;  
}
body {
  font-family: 'Minh Ngyuen', serif;
}

.site-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.site-title::before {
    content: '';
    display: inline-block;
    background: url('/logo.png') no-repeat center;
    background-size: contain;
    width: 40px; /* Logo 宽度 */
    height: 40px; /* Logo 高度 */
}
.hashtag-box {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 響應式欄位 */
  grid-gap: 10px; /* 欄位間距 */
}

.image-grid img {
  width: 100%;
  height: auto;
}

/* 響應式設計範例 */
@media (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr; /* 在小螢幕上顯示單欄 */
  }
}
