{%- assign social_links = site.minima.social_links | default: site.social_links -%}

{%- if site.hyperlinks_username -%}
  <a href="https://bio.site/{{ site.hyperlinks_username }}" title="hyperlinks">
    <img src="https://raw.githubusercontent.com/YongZS1218/yongzs1218.github.io/53ce0cdb2f3ed6ebd73e3091e4338329dd0049a3/_posts/_pictures%2C%20audios%20and%20videos/hyperlinks.svg" width="24" height="24" alt="hyperlinks" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.instagram_username or social_links.instagram -%}
  <a href="https://instagram.com/{{ site.instagram_username | default: social_links.instagram }}" title="Instagram">
    <img src="https://simpleicons.org/icons/instagram.svg" width="24" height="24" alt="instagram" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.fediverse_username -%}
  <a rel="me" href="https://{{ site.fediverse_username | split: '@' | last }}/@{{ site.fediverse_username | split: '@' | first }}" title="Fediverse">
    <img src="https://raw.githubusercontent.com/YongZS1218/yongzs1218.github.io/e4c8bf2d3a594c40c7289db8297ae9e7be79210e/_posts/_pictures%2C%20audios%20and%20videos/grey_fediverse.svg" width="24" height="24" alt="Fediverse" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.tumblr_username -%}
  <a href="https://{{ site.tumblr_username }}.tumblr.com" title="Tumblr">
    <img src="https://simpleicons.org/icons/tumblr.svg" width="24" height="24" alt="Tumblr" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.github_username or social_links.github -%}
  <a href="https://github.com/{{ site.github_username | default: social_links.github }}" title="GitHub">
    <img src="https://simpleicons.org/icons/github.svg" width="24" height="24" alt="github" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.gitlab_username -%}
  <a href="https://gitlab.com/{{ site.gitlab_username }}" title="GitLab">
    <img src="https://simpleicons.org/icons/gitlab.svg" width="24" height="24" alt="gitlab" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.youtube_username -%}
  <a href="https://youtube.com/@{{ site.youtube_username }}" title="youtube">
    <img src="https://simpleicons.org/icons/youtube.svg" width="24" height="24" alt="youtube" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.bilibili_uid -%}
  <a href="https://space.bilibili.com/{{ site.bilibili_uid }}" title="bilibili">
    <img src="https://raw.githubusercontent.com/YongZS1218/yongzs1218.github.io/4072dfa345908d3b26350a9e6b52558b1c5a595f/_posts/_pictures%2C%20audios%20and%20videos/bilibili_icon.svg" width="24" height="24" alt="bilibili" style="vertical-align:middle;">
    <span class="uid"></span>
  </a>
{%- endif -%}

{%- if site.acfun_uid -%}
  <a href="https://www.acfun.cn/u/{{ site.acfun_uid }}" title="acfun">
    <img src="https://raw.githubusercontent.com/YongZS1218/yongzs1218.github.io/a98d5749a1a7e14562987351b99303de7c52ffc2/_posts/_pictures%2C%20audios%20and%20videos/AcFun%20icon.svg" width="24" height="24" alt="acfun" style="vertical-align:middle;">
    <span class="uid"></span>
  </a>
{%- endif -%}

{%- if site.douyin_username -%}
  <a href="https://douyin.com/user/{{ site.douyin_username }}" title="douyin">
    <img src="https://simpleicons.org/icons/tiktok.svg" width="24" height="24" alt="douyin" style="vertical-align:middle;">
    <span class="uid"></span>
  </a>
{%- endif -%}

{%- if site.facebook_username or social_links.facebook -%}
  <a href="https://facebook.com/{{ site.facebook_username | default: social_links.facebook }}" title="Facebook">
    <img src="https://simpleicons.org/icons/facebook.svg" width="24" height="24" alt="facebook" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.douban_username -%}
  <a href="https://douban.com/people/{{ site.douban_username }}" title="Douban">
    <img src="https://simpleicons.org/icons/douban.svg" width="24" height="24" alt="豆瓣" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.vk_username -%}
  <a href="https://vk.com/{{ site.vk_username }}" title="VK">
    <img src="https://simpleicons.org/icons/vk.svg" width="24" height="24" alt="VK" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.bandlab_username -%}
  <a href="https://bandlab.com/{{ site.bandlab_username }}" title="bandlab">
    <img src="https://simpleicons.org/icons/bandlab.svg" width="24" height="24" alt="bandlab" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}

{%- if site.rss_link -%}
  <a href="{{ site.rss_link }}" title="rss">
    <img src="https://simpleicons.org/icons/rss.svg" width="24" height="24" alt="rss" style="vertical-align:middle;">
    <span class="username"></span>
  </a>
{%- endif -%}
